<p> <!-- Bloque con enlaces a redes sociales -->
    Para más información, visítanos en nuestras redes sociales:<br>
    <a href="https://www.instagram.com/" target="_blank">Instagram</a> |
    <a href="https://www.facebook.com/" target="_blank">Facebook</a> |
    <a href="https://youtu.be/1hDd6nIbIBc" target="_blank">YouTube</a>
  </p>

  <!-- Pie de página con derechos -->
  <footer>
    <p>&copy; 2025 MycoMarket – Todos los derechos reservados</p>
  </footer>

  <!-- Cargamos el JavaScript al final para que el HTML ya exista cuando JS lo use -->
  <script src="{{url_for('static',filename='script.js')}}"></script>
